<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <authentication mode="Forms">
        <forms loginUrl="Default.aspx" timeout="1000" name="__Auth" />
      </authentication>
    </system.web>
  
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:sevatecdemosql.database.windows.net,1234;Initial Catalog=SevatecDemoSQL;Persist Security Info=False;User ID=shARKBAITOHAHA
;Password= CHICKENWINGSFORLIFE;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>
